<div class="widget maxicours-widget">
    <h1>
        <i18n>maxicours.title</i18n>
        <i class="refresh-button right-magnet" tooltip="maxicours.refresh" ng-click="widget.getUserStatus(widget.getUserInfo)"></i>
    </h1>

    <!-- Inactive user -->
    <div class="reduce-block-eight centered-text" ng-if="!widget.controllerData.id || widget.controllerData.id < 0">
        <h2><i18n>maxicours.inactive.user</i18n></h2>
        <form action="[[widget.controllerData.connectorEndpoint]]" method="get">
            <button formtarget="_blank" translate content="maxicours.connect"></button>
        </form>
    </div>


    <!-- Active user -->
    <div ng-if="widget.controllerData.id > 0">
        <div class="centered-text text-band">
            <i18n>maxicours.my.points</i18n>: <span class="highlighted">[[ widget.controllerData.userInfo.activityScore ]]</span>
        </div>
        <div class="reduce-block-eight">
            <h4><a ng-href="[[widget.controllerData.userInfo.sessionOfTheDayUrl]]" target="_blank"><i18n>maxicours.daily.session</i18n></a></h4>
            <div ng-if="widget.controllerData.userInfo.hasSessionOfTheDay === 'true'">
                <div class="activity" ng-repeat="activity in widget.controllerData.userInfo.sessionOfTheDayActivities" class="row">
                    <img class="picto" ng-src="[[activity.picto]]"></img>
                    <div>
                        <div><strong>[[activity.title]]</strong></div>
                        <div>[[activity.label]]</div>
                    </div>
                </div>
            </div>

            <h4><i18n>maxicours.my.courses<i18n></h4>
            <ul>
                <li ng-repeat="course in widget.controllerData.userInfo.newPersonnalCourses">
                    <b>
                        <a ng-href="[[course.url]]" target="_blank">[[course.label]] ([[course.date]])</a>
                    </b>
                </li>
                <li ng-repeat="course in widget.controllerData.userInfo.currentPersonnalCourses">
                        <a ng-href="[[course.url]]" target="_blank">[[course.label]] ([[course.date]])</a>
                </li>
            </li>
        </div>
    </div>
</div>
