{
    "name": "{{ maxicoursVersion }}",
    "config": {
        "main" : "org.entcore.maxicours.Maxicours",
        "port" : 8046,
        "app-name" : "Maxicours",
        "app-address" : "/maxicours",
        "app-icon" : "Maxicours-large",
        "app-type" : "WIDGET",
        "host": "https://{{ host }}",
        {% if overrideTheme %} "override-theme": {{ override2d }}, {% endif %}
        "ssl" : true,
        "auto-redeploy": false,
        "userbook-host": "https://{{ host }}",
        "integration-mode" : "HTTP",
        "app-registry.port" : 8012,
        "mode" : "prod",
        "entcore.port" : 8009,
        "webserviceEndpoint": "{{ maxicoursWS }}",
        "connectorEndpoint": "{{ maxicoursConnector }}",
        "publicConf": {
            "xiti": {
                "ID_SERVICE": {
                    "default": 13
                },
                "LIBELLE_SERVICE": {
                    "default": "PAGE_ENT"
                },
                "OUTIL": "MAXICOURS"
            }
        }
    }
}